.loadingScreen{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.loadingScreen__content{
  width: 300px;
  animation: 0.3s ease-in infinite 0s  pulse;
  display: grid;
  place-content: center;
}

@keyframes pulse {
  50%{
    transform: scale(1.6);
  }
}
