.loadingScreen{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.loadingScreen__content{
  width: 300px;
  animation: 1s ease-in infinite 0s  pulse;
  display: grid;
  transform: translateX(40px);
  place-content: center;
}

@keyframes pulse {
  50%{
    transform: scale(1.2);
  }
}
