.wrapper{
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
}

.wrapper > form {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.wrapper button {
  height: 52px;
}
